In [1]:
import pandas as pd

df = pd.read_csv("Data.csv")

In [2]:
df = df.sample(n = 300, replace = True)

In [3]:
len(df)

300

In [4]:
df['Model Year'].agg(['min', 'max'])

min    2011
max    2024
Name: Model Year, dtype: int64

In [5]:
df['Electric Range'].agg(['min', 'max'])

min      0
max    330
Name: Electric Range, dtype: int64

In [6]:
df['Legislative District'].agg(['min', 'max'])

min     1.0
max    49.0
Name: Legislative District, dtype: float64

In [7]:
df['Base MSRP'].agg(['min', 'max'])

min        0
max    69900
Name: Base MSRP, dtype: int64

In [8]:
df['Electric Vehicle Type'].value_counts()

Battery Electric Vehicle (BEV)            244
Plug-in Hybrid Electric Vehicle (PHEV)     56
Name: Electric Vehicle Type, dtype: int64

In [9]:
df.rename(columns = {'Electric Vehicle Type':'Type'}, inplace = True)

In [10]:
df.to_csv('make.csv')

In [11]:
df.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

In [12]:
df["Model Year"].nunique(dropna = True)

14

In [13]:
df["Electric Range"].nunique(dropna = True)

53

In [14]:
df["Legislative District"].nunique(dropna = True)

45

In [15]:
df = df[['Electric Range','Legislative District', 'Model Year']]

In [16]:
df.head()

        Electric Range  Legislative District  Model Year
102379             107                  28.0        2017
42397               33                   5.0        2018
114017               0                  19.0        2023
137401             210                   NaN        2016
107470               0                   1.0        2021

In [17]:
len(df)

300

In [18]:
df = df.dropna()

In [19]:
len(df)

298

In [20]:
df.to_csv('out.csv')

In [21]:
dfnew = pd.read_csv('make.csv')

In [22]:
dfnew.head(
    
)

,Unnamed: 0,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,102379,1N4BZ0CP0H,Pierce,Lakewood,WA,98498.0,2017,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,107,0,28.0,127383784,POINT (-122.547645 47.176685),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.305307e+10
1,42397,2C4RC1H74J,King,Issaquah,WA,98029.0,2018,CHRYSLER,PACIFICA,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,33,0,5.0,294003909,POINT (-121.99959499999994 47.54763500000007),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
2,114017,7SAYGDEE8P,Pacific,Ocean Park,WA,98640.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,19.0,232900167,POINT (-124.04852999999997 46.49720000000008),BONNEVILLE POWER ADMINISTRATION||PUD NO 2 OF P...,5.304995e+10
3,137401,5YJSA1E46G,NaN,NaN,NV,NaN,2016,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,NaN,120910422,NaN,NaN,NaN
4,107470,5YJ3E1EAXM,Snohomish,Lynnwood,WA,98036.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,1.0,168619713,POINT (-122.3164188 47.819664),PUGET SOUND ENERGY INC,5.306105e+10