In [199]:
import pandas as pd

df = pd.read_csv("Data.csv")

In [200]:
len(df)

143596

In [201]:
df = df[df['Electric Range'] != 0]
df = df[df['Base MSRP'] != 0]

In [202]:
len(df)

3445

In [203]:
# df = df.sample(n = 100, replace = True)

In [204]:
len(df)

3445

In [205]:
df['Model Year'].agg(['min', 'max'])

min    2008
max    2020
Name: Model Year, dtype: int64

In [206]:
df['Electric Range'].agg(['min', 'max'])

min     12
max    265
Name: Electric Range, dtype: int64

In [207]:
df['Legislative District'].agg(['min', 'max'])

min     1.0
max    49.0
Name: Legislative District, dtype: float64

In [208]:
df['Base MSRP'].agg(['min', 'max'])

min     31950
max    845000
Name: Base MSRP, dtype: int64

In [209]:
df['Electric Vehicle Type'].value_counts()

Battery Electric Vehicle (BEV)            2250
Plug-in Hybrid Electric Vehicle (PHEV)    1195
Name: Electric Vehicle Type, dtype: int64

In [210]:
df.rename(columns = {'Electric Vehicle Type':'Type'}, inplace = True)

In [211]:
df.to_csv('make.csv')

In [212]:
df.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

In [213]:
df["Model Year"].nunique(dropna = True)

12

In [214]:
df["Electric Range"].nunique(dropna = True)

16

In [215]:
df["Legislative District"].nunique(dropna = True)

49

In [216]:
df = df[['Electric Range','Legislative District', 'Model Year']]

In [217]:
df.head()

     Electric Range  Legislative District  Model Year
3               208                  41.0        2013
60              208                  26.0        2013
88              208                  38.0        2014
181              93                  21.0        2016
199             111                  32.0        2018

In [218]:
len(df)

3445

In [219]:
df = df.dropna()

In [220]:
len(df)

3436

In [221]:
# df = df[df['Electric Range'] != 0]

In [222]:
len(df)

3436

In [223]:
df.to_csv('out.csv')

In [224]:
dfnew = pd.read_csv('make.csv')

In [225]:
dfnew.head(
    
)

,Unnamed: 0,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,3,5YJSA1AC0D,King,Newcastle,WA,98059.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,69900,41.0,244891062,POINT (-122.15733999999998 47.487175000000036),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
1,60,5YJSA1CP3D,Kitsap,Port Orchard,WA,98366.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,69900,26.0,204839939,POINT (-122.639265 47.5373),PUGET SOUND ENERGY INC,5.303509e+10
2,88,5YJSA1H1XE,Snohomish,Marysville,WA,98270.0,2014,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,69900,38.0,123654793,POINT (-122.17673 48.05542),PUGET SOUND ENERGY INC,5.306105e+10
3,181,KNDJX3AE8G,Snohomish,Bothell,WA,98012.0,2016,KIA,SOUL,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,93,31950,21.0,442691672,POINT (-122.1873 47.82024500000006),PUGET SOUND ENERGY INC,5.306105e+10
4,199,KNDJX3AE9J,King,Seattle,WA,98177.0,2018,KIA,SOUL EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,111,33950,32.0,342519866,POINT (-122.38242499999996 47.77279000000004),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10

In [226]:
dfnew.head()

,Unnamed: 0,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,3,5YJSA1AC0D,King,Newcastle,WA,98059.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,69900,41.0,244891062,POINT (-122.15733999999998 47.487175000000036),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
1,60,5YJSA1CP3D,Kitsap,Port Orchard,WA,98366.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,69900,26.0,204839939,POINT (-122.639265 47.5373),PUGET SOUND ENERGY INC,5.303509e+10
2,88,5YJSA1H1XE,Snohomish,Marysville,WA,98270.0,2014,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,69900,38.0,123654793,POINT (-122.17673 48.05542),PUGET SOUND ENERGY INC,5.306105e+10
3,181,KNDJX3AE8G,Snohomish,Bothell,WA,98012.0,2016,KIA,SOUL,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,93,31950,21.0,442691672,POINT (-122.1873 47.82024500000006),PUGET SOUND ENERGY INC,5.306105e+10
4,199,KNDJX3AE9J,King,Seattle,WA,98177.0,2018,KIA,SOUL EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,111,33950,32.0,342519866,POINT (-122.38242499999996 47.77279000000004),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10

In [227]:
dfnew = dfnew[dfnew["Electric Range"] != 0]
dfnew = dfnew[dfnew["Base MSRP"] != 0]

In [228]:
len(dfnew)

3445

In [229]:
dfnew['Clean Alternative Fuel Vehicle (CAFV) Eligibility'].unique()

array(['Clean Alternative Fuel Vehicle Eligible',
       'Not eligible due to low battery range'], dtype=object)

In [230]:
# dfnew.to_csv('out2.csv')
dfnew.to_csv('out3.csv')