In [40]:
import pandas as pd

df = pd.read_csv("Data.csv")

In [41]:
df = df.sample(n = 300, replace = True)

In [42]:
len(df)

300

In [43]:
df['Model Year'].agg(['min', 'max'])

min    2008
max    2023
Name: Model Year, dtype: int64

In [44]:
df['Electric Range'].agg(['min', 'max'])

min      0
max    322
Name: Electric Range, dtype: int64

In [45]:
df['Legislative District'].agg(['min', 'max'])

min     1.0
max    49.0
Name: Legislative District, dtype: float64

In [46]:
df['Base MSRP'].agg(['min', 'max'])

min         0
max    110950
Name: Base MSRP, dtype: int64

In [47]:
df['Electric Vehicle Type'].value_counts()

Battery Electric Vehicle (BEV)            222
Plug-in Hybrid Electric Vehicle (PHEV)     78
Name: Electric Vehicle Type, dtype: int64

In [48]:
df.rename(columns = {'Electric Vehicle Type':'Type'}, inplace = True)

In [49]:
df.to_csv('make.csv')

In [2]:
df.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

In [5]:
df["Model Year"].nunique(dropna = True)

22

In [4]:
df["Electric Range"].nunique(dropna = True)

102

In [6]:
df["Legislative District"].nunique(dropna = True)

49

In [7]:
df = df[['Electric Range','Legislative District', 'Model Year']]

In [8]:
df.head()

   Electric Range  Legislative District  Model Year
0              30                  36.0        2023
1              38                  15.0        2022
2             238                  36.0        2018
3             208                  41.0        2013
4              19                  26.0        2015

In [9]:
len(df)

143596

In [10]:
df = df.dropna()

In [11]:
len(df)

143269

In [12]:
df.to_csv('out.csv')